# Username hinakagiyamaa
# Password: 9l3xsy84d0gmTnDo
# mongodb+srv://hinakagiyamaa:<db_password>@ubheat.fgqil.mongodb.net/?retryWrites=true&w=majority&appName=UBheat

MONGO_URI=mongodb+srv://hinakagiyamaa:9l3xsy84d0gmTnDo@ubheat.fgqil.mongodb.net/UBheat?retryWrites=true&w=majority&appName=UBheat
PORT=5000
NODE_ENV=production
# 9l3xsy84d0gmTnDo

# JWT
JWT_SECRET=ubheat_key

GROQ_API_KEY=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






# Trashed
# Google OAuth Credentials
# API Key: AIzaSyDg2mDh2ngh58TPW76nK6UbnQoaJAP2kpk

# Google AI Studio: Gemini
# AIzaSyDfH-nCTlNzNYNzN4RTs9Oc6c7Obc5B_6Y

# Google Service Account
# Service Account name: UBheat-ai
# Service Account ID: ubheat-ai
# Service Account email: ubheat-ai@gen-lang-client-0078664633.iam.gserviceaccount.com

# GEMINI_API_KEY=AIzaSyDfH-nCTlNzNYNzN4RTs9Oc6c7Obc5B_6Y