@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      font-family: 'Delius', cursive;
      /* background-color: #E5C8EA; */
    }
}

.temperature-overlay {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000; /* Text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  background-color: rgba(255, 255, 255, 0.8); /* Background color */
  visibility: hidden; /* Initially hidden */
  transition: visibility 0.2s, opacity 0.2s; /* Smooth transition */
  opacity: 0; /* Initially transparent */
}

.temperature-overlay.visible {
  visibility: visible; /* Show on hover */
  opacity: 1; /* Fully opaque on hover */
}

.weather-overlay {
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}
.smoke-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.weather-overlay img {
  width: 30px;
  height: 30px;
}

.weather-overlay div {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}


/* Moving Cards */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) linear infinite;
  animation-direction: var(--animation-direction, normal);
}
